/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2020, 7:24:42 PM
    Author     : Laptop
*/


.logo_img{
	width:175px;
}
.image-footer{
	width:100%;
}
.margin-nav{
	margin-top: .9rem;
    margin-bottom: .9rem;
    margin-left: 20px;
    margin-right: 20px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.menu-item a {
  display: block;
  padding: 0.5rem 1rem; }
  .menu-item a:hover, .menu-item a:focus {
    text-decoration: none; }
  .menu-item a.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.nav-fill .menu-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center; }

.nav-justified .menu-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .menu-item a {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-sm .navbar-nav .menu-item a {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
      display: none; } }

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-md .navbar-nav .menu-item a {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-md .navbar-toggler {
      display: none; } }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-lg .navbar-nav .menu-item a {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-xl .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-xl .navbar-nav .menu-item a {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-xl .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-xl .navbar-toggler {
      display: none; } }

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand .navbar-nav .menu-item a {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand .navbar-toggler {
    display: none; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }
    
  #ftco-navbar .menu-item a:focus,
  #ftco-navbar .menu-item a:visited
  #ftco-navbar .menu-item a:active
  {
      border:none!important;
      border-color:transparent!important;
      border-width: 0px!important;
  }
.navbar-light .navbar-nav .menu-item a {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-nav .menu-item a:hover, 
  .navbar-light .navbar-nav .menu-item a:focus, 
  .navbar-light .navbar-nav .menu-item a:visited, 
  .navbar-light .navbar-nav .menu-item a:active 
  {
    color: rgba(0, 0, 0, 0.7); 
    border-color: transparent!important;
    border-width: 0px!important;
  }
  .navbar-light .navbar-nav .menu-item a.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .menu-item a,
.navbar-light .navbar-nav .active > .menu-item a,
.navbar-light .navbar-nav .menu-item a.show,
.navbar-light .navbar-nav .menu-item a.active {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
    .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
      color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }

.navbar-dark .navbar-nav .menu-item a {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-nav .menu-item a:hover, .navbar-dark .navbar-nav .menu-item a:focus {
    color: rgba(94,154,10, 0.75); }
  .navbar-dark .navbar-nav .menu-item a.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .menu-item a,
.navbar-dark .navbar-nav .active > .menu-item a,
.navbar-dark .navbar-nav .menu-item a.show,
.navbar-dark .navbar-nav .menu-item a.active {
  color: rgb(94,154,10); }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); 
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); 
  background-color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-text a {
    color: #fff; }
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
      color: rgb(94,154,10); }

.container {
  max-width: 1250px; }

.text-primary {
  color: rgb(94,154,10)!important; }

.ftco-navbar-light {
  background: #000!important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3; }
@media (min-width: 768px) and (max-width: 3000px) {
   
}
  @media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #000!important;
      position: relative;
      top: 0; } }
  .ftco-navbar-light .navbar-brand {
    color: #000000; }
    .ftco-navbar-light .navbar-brand:hover {
      color: #000000; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-brand {
        color: #fff; } }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav {
      padding-bottom: 10px; } }
  .ftco-navbar-light .navbar-nav > .menu-item a {
    font-size: 15px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-weight: 600;
    opacity: 1 !important; }
    .ftco-navbar-light .navbar-nav > .menu-item a:hover {
      color: rgb(94,154,10); }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .menu-item a {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        color: #fff; } }
  .ftco-navbar-light .navbar-nav > .menu-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41); }
  .ftco-navbar-light .navbar-nav > .menu-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px; }
    @media (max-width: 991.98px) {
      .ftco-navbar-light .navbar-nav > .menu-item.ftco-seperator {
        padding-left: 0;
        margin-left: 0; } }
    .ftco-navbar-light .navbar-nav > .menu-item.ftco-seperator:before {
      position: absolute;
      content: "";
      top: 10px;
      bottom: 10px;
      left: 0;
      width: 2px;
      background: rgba(255, 255, 255, 0.05); }
      @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav > .menu-item.ftco-seperator:before {
          display: none; } }
  .ftco-navbar-light .navbar-nav > .menu-item.cta > a {
    color: #fff;
    border: 1px solid rgb(94,154,10);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 4px;
    background: rgb(94,154,10);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .ftco-navbar-light .navbar-nav > .menu-item.cta > a span {
      display: inline-block;
      color: #fff; }
    .ftco-navbar-light .navbar-nav > .menu-item.cta > a:hover {
      background: rgb(94,154,10);
    }
  .ftco-navbar-light .navbar-nav > .menu-item.cta.cta-colored a {
    border: 1px solid rgb(94,154,10);
    background: rgb(94,154,10) !important; }
  .ftco-navbar-light .navbar-nav > .menu-item.active > a {
    color: rgb(94,154,10); }
  @media (max-width: 991.98px) {
    .ftco-navbar-light .navbar-nav > .menu-item.active > a {
      color: rgb(94,154,10); } }
  .ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; }
    .ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
      text-decoration: none;
      color: rgb(94,154,10);
      outline: none !important; }
  .ftco-navbar-light.scrolled .menu-item a:hover, .dropdown-menu a:hover,.ftco-navbar-light.scrolled .menu-item a:focus {
      color: rgb(94,154,10)!important;
      border:none!important;
  }
  .ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #000 !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .menu-item a {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important; } }
    .ftco-navbar-light.scrolled .menu-item.active > a {
      color: rgb(94,154,10)!important; }
    .ftco-navbar-light.scrolled .menu-item.cta > a {
      color: #fff !important;
      background: rgb(94,154,10);
      border: none !important;
      padding-top: 0.5rem !important;
      padding-bottom: .5rem !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-top: 6px !important;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .ftco-navbar-light.scrolled .menu-item.cta > a span {
        display: inline-block;
        color: #fff !important; }
    .ftco-navbar-light.scrolled .menu-item.cta.cta-colored span {
      border-color: none!important;
    }
    @media (max-width: 991.98px) {
      .ftco-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    .ftco-navbar-light.scrolled .navbar-toggler {
      border: none;
      color: rgba(255, 255, 255, 0.5) !important;
      border-color: rgba(255, 255, 255, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: .1em; }
    .ftco-navbar-light.scrolled .menu-item a {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: #fff !important; }
      .ftco-navbar-light.scrolled .menu-item a.active, .dropdown-menu a.active {
        color: rgb(94,154,10)!important; }
    .ftco-navbar-light.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .ftco-navbar-light.scrolled .navbar-brand {
      color: #000000; }

.navbar-brand {
  font-weight: 700;
  font-size: 20px; }

.full-height{
    height: 100vh;
}
.half-height{
    height: 50vh;
}
.vertical-center{
    margin-top: auto!important;
    margin-bottom: auto!important;
    vertical-align: central;
}

.btn.btn-primary {
	-webkit-transition: background 2s ease!important;
	-moz-transition: background 2s ease!important;
	-o-transition: background 2s ease!important;
	transition: background 2s ease!important;
    background: linear-gradient(90deg, rgba(108,139,61,1) 0%, rgba(144,178,36,1) 35%, rgba(175,221,27,1) 100%);
    	background: -moz-linear-gradient(90deg, rgba(108,139,61,1) 0%, rgba(144,178,36,1) 35%, rgba(175,221,27,1) 100%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(90deg, rgba(108,139,61,1) 0%, rgba(144,178,36,1) 35%, rgba(175,221,27,1) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    border: 1px solid rgb(144,178,36)!important;
    color: #fff !important; 
}
.btn.btn-primary:hover {
	-webkit-transition: background 2s ease!important;
	-moz-transition: background 2s ease!important;
	-o-transition: background 2s ease!important;
	transition: background 2s ease!important;
      border: 1px solid rgb(144,178,36)!important;
      color: white!important; 
      background:  linear-gradient(90deg, rgba(108,139,61,1) 10%, rgba(144,178,36,1) 45%, rgba(175,221,27,1) 90%)!important;
	background: -moz-linear-gradient(90deg, rgba(108,139,61,1) 10%, rgba(144,178,36,1) 45%, rgba(175,221,27,1) 90%)!important; /* FF3.6-15 */
	background: -webkit-linear-gradient(90deg, rgba(108,139,61,1) 10%, rgba(144,178,36,1) 45%, rgba(175,221,27,1) 90%)!important; /* Chrome10-25,Safari5.1-6 */
}
/****   login slider ****/
.login-header,
#login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: 8vw;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(144,178,36);
}
#login form a p{
    font-size: 12px;
}
#login{
    position: absolute;
    right:-50vw;
    top:70px;
    width: 300px;
    margin: 16px auto;
    font-size: 16px;
    z-index: 3;
    opacity:1;
    transition: right 1s ease,opacity 1s ease;
    -webkit-transition: right 1s ease,opacity 1s ease;
    -moz-transition: right 1s ease,opacity 1s ease;
    -o-transition: right 1s ease,opacity 1s ease;
}
.no-opacity{
    opacity:0!important;
}
.no-triangle{
  border-bottom-color: transparent;
}
.slide-in {
    right:0!important;
}
.login-header {
  background: rgb(144,178,36);
  padding: 10px;
  font-size: .75em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

#login p {
  padding: 12px;
}

#login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

#login input[type="email"],
#login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
#login input[type="email"]:focus,
#login input[type="password"]:focus {
  border-color: #888;
}

#login input[type="submit"] {
  background: rgb(144,178,36);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

#login input[type="submit"]:hover {
  background: rgba(108,139,61,1);
}

/* Buttons' focus effect */
#login input[type="submit"]:focus {
  border-color: #05a;
}

.dropdown-menu a{
 z-index: 89999;
}
.dropdown-backdrop{
position: static!important;
}